{% extends 'base.html' %}

{% block content %}
<h1>WW Verify's Privacy Policy</h1>
<hr>
<p><b>Note: WW Verify is not affiliated with the University of Warwick</b></p>
<p>This privacy policy will explain how WW Verify uses the personal data we collect from you when you use our website and Discord Bot.</p>

<h2>What data do we collect?</h2>
<p>WW Verify collects the following data:</p>
<ul>
    <li>User's Discord account unique identifier</li>
    <li>Discord Role identifier</li>
    <li>Discord Guild identifier</li>
    <li><a href="https://warwick.ac.uk/services/its/servicessupport/web/sign-on/development/reference/attributes/">User's University of Warwick SSO attributes</a></li>
</ul>

<h2>How do we collect your data?</h2>
<p>You directly provide WW Verify with most of the data we collect. We collect data and process data when you:</p>
<ul>
    <li>Add the WW Verify Discord Bot to a Discord Guild and complete the setup process</li>
    <li>Complete the verification proccess by clicking in the URL sent via the Discord Bot</li>
    <li>Authorize the Warwick Discord Verify OAuth application to access <a href="https://websignon.warwick.ac.uk/origin/">SSO</a>a data</li>
</ul>
<p>WW Verify may also receive your data indirectly from the following sources:</p>
<ul>
    <li>WW Verify Discord Bot</li>
</ul>

<h2>What data do we store?</h2>
<p>WW Verify stores the following personal data:</p>
<ul>
    <li>Your Discord Member ID</li>
    <li>A SHA256 hash of your Warwick Student ID</li>
    <li>Whether you are affiliated with the University of Warwick or not</li>
</ul>

<p>Additionaly WW Verify also stores the following data when the setup process is complete for a Discord Guild</p>
<ul>
    <li>Discord Guild ID</li>
    <li>Discord Role ID</li>
</ul>
<p>This data from a specific Discord Guild is immediately removed once the Discord Bot leaves that same Discord Guild.</p>

<h2>How will we use your data?</h2>
<p>WW Verify collects your data so that we can:</p>
<ul>
    <li>Confirm you are affiliated to the University of Warwick</li>
    <li>Attribute a Discord Role if you are affiliated with the University of Warwick in every Discord server using the WW Verify Discord Bot</li>
</ul>
<p>WW Verify will not share your data with third parties.</p>

<h2>How do we store your data?</h2>
<p>WW Verify securely stores your data in a server located in the United Kingdom provided by Microsoft Azure cloud services.</p>
<p>Your personal data is stored and processed as long as required by the purpose they have been collected for.</p>
<p>Data referring to a Discord Guild is removed immediately after the WW Verify Discord bot is removed from that same Discord Guild.</p>
<p>Removal of your personal data can be requested by contacting WW Verify and is subject to verification of ownership of the data.</p>

<h2>What are your data protection rights?</h2>
<p>WW Verify would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<ul>
    <li><b>The right to access</b> – You have the right to request WW Verify for copies of your personal data. We may charge you a small fee for this service.</li>
    <li><b>The right to rectification</b> – You have the right to request that WW Verify correct any information you believe is inaccurate. You also have the right to request WW Verify to complete the information you believe is incomplete.</li>
    <li><b>The right to erasure</b> - You have the right to request that WW Verify erase your personal data, under certain conditions.</li>
    <li><b>The right to restrict processing</b> – You have the right to request that WW Verify restrict the processing of your personal data, under certain conditions.</li>
    <li><b>The right to object to processing</b> – You have the right to object to WW Verify’s processing of your personal data, under certain conditions.</li>
    <li><b>The right to data portability</b> - You have the right to request that WW Verify transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: contact at tomff dot com</p>

<h2>Cookies</h2>
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology</p>
<p>For further information, visit allaboutcookies.org.</p>

<h2>How do we use cookies</h2>
<p>WW Verify uses cookies in a range of ways to improve your experience on our website, including:</p>
<ul>
    <li>Temporarily storing OAuth keys to facilitate the authentication proccess via OAuth</li>
</ul>

<h2>What types of cookies do we use?</h2>
<p>Our website only uses cookies for functional purposes:</p>
<p>WW Verify uses these cookies so that OAuth keys can be temporarily stored while you are redirected to an OAuth authorization page.</p>

<h2>How to manage cookies?</h2>
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

<h2>Privacy policies of other websites</h2>
<p>WW Verify’s website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

<h2>Changes to our privacy policy</h2>
<p>WW Verify keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on <b>14 September 2020</b>.</p>

<h2>How to contact us</h2>
<p>If you have any questions about WW Verify’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
<p>Email us at: contact at tomff dot com</p>

<hr>
<p>This document was adapted from <a href="https://gdpr.eu/privacy-notice/">GDPR.EU</a>, visited on 14 September 2020.</p>

{% endblock %}